<section id="chat_page" class="hero is-primary is-medium">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        Chat Management
                    </a>
                </div>
                <span class="nav-toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <a class="nav-item is-active">
                        Welcome, {{username}}
                    </a>
                    <a class="nav-item" ng-click="signOut()">
                        <span class="icon">
                          <i class="fa fa-sign-out"></i>
                        </span>
                    </a>
                </div>
            </div>
        </header>
    </div>
</section>

<div class="columns is-gapless fix-height-block-cms">
    <div class="column is-one-quarter">
        <div class="block-rooms">
            <a class="room-name"
               ng-repeat="room in rooms | filterLastedDate"
               ng-click="goChatRoom(room)"
               ng-class="{'text-orange': room.status.unread_admin_count > 0}">
                <!--<p ui-sref="rooms.chat({id: room.$id})">{{room.roomName}}</p>-->
                <span>{{room.status.room_no}}</span>
                <!-- <span>{{room.$id}}</span> -->
                <span class="badge pull-right" ng-if="room.status.unread_admin_count > 0">{{room.status.unread_admin_count}}</span>
                <!--<span class="icon is-small" ng-click="removeRoom(room.$id)">-->
                  <!--<i class="fa fa-remove"></i>-->
                <!--</span>-->
            </a>
        </div>
    </div>
    <div class="column">
        <ui-view></ui-view>
    </div>
</div>