<div class="columns">
    <div class="column"></div>
    <div class="column text-center">
        <p class="text-center">{{errMessage}}</p>
        <label class="label">Username</label>
        <p class="control">
            <input class="input" type="text" placeholder="Username" ng-model="data.username">
        </p>

        <label class="label">Password</label>
        <p class="control">
            <input class="input" type="password" placeholder="Password" ng-model="data.password" my-enter="login(data)">
        </p>

        <button class="button is-primary" ng-click="login(data)">Login</button>

    </div>
    <div class="column"></div>
</div>