$bg-grey-primary: #d8d8d8;
$black-primary: #000;

$border-radius-xs: 4px;
body, html{
  height: 100%;
}
body {
  margin: 0;
}

.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: #efefef;
}

#post {
  padding: 0.5em 1em;
  background-color: #50b1ff;
  border: none;
  color: #FFF;
}
.fix-height-100{
  height: 100%;
}

.block-chat-user {
  margin: 16px;

  .name{
    font-size: 14px;
    font-weight: bold;
    display: block;
  }
  .text {
    margin: 8px;
    margin-bottom: 4px;
    padding: 8px;
    background: $bg-grey-primary;
    border-radius: $border-radius-xs;
    max-width: 25%;
    display: inline-block;
  }

  .date{
    font-size: 11px;
    margin-left: 8px;
    vertical-align: baseline;
    display: block;
    color: $black-primary;
  }

  &.owner{
    text-align: right;
    .text{
      background: #23d160;
    }
  }
}

.block-message{
  padding: 16px;

  .inputText{
    min-height: 32px;
    margin: 0;
    font-size: 14px;

    &.min-width-360{
      min-width: 360px;
    }
  }
}

.show-message{
  height: calc(100% - 64px);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .block-chat-user{
    .text{
      max-width: 100%;
    }
  }

  .block-message {
    padding: 0;

    .inputText{
      width: 100%;
      margin-bottom: 4px;
    }
  }
}