body, html {
  height: 100%; }

body {
  margin: 0; }

.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: #efefef; }

#post {
  padding: 0.5em 1em;
  background-color: #50b1ff;
  border: none;
  color: #FFF; }

.fix-height-100 {
  height: 100%; }

.max-width-320 {
  max-width: 320px; }

.text-center {
  text-align: center; }

.margin-top-8 {
  margin-top: 8px; }

.margin-bottom-16 {
  margin-bottom: 16px; }

.margin-top-50-per {
  margin-top: 50%; }

.margin-center-page {
  margin: 50% auto auto; }

.text-size-24 {
  font-size: 24px; }

.is-primary.button, .is-primary.hero {
  background-color: #02adcc; }

.is-primary:hover.button, .is-primary:focus.button {
  background-color: #6fcee5; }

a, .block-chat-user .text.translate label {
  color: #02adcc; }

.text-error {
  color: #f26f27; }

.error-message {
  color: #f26f27; }
  .error-message .fa {
    margin-right: 8px;
    vertical-align: baseline; }

.text-orange {
  color: #f26f27; }

.block-chat-user {
  margin: 16px; }
  .block-chat-user .name {
    font-size: 14px;
    font-weight: bold;
    display: block; }
  .block-chat-user .text {
    margin: 8px;
    margin-bottom: 4px;
    padding: 8px;
    background: #eee;
    border-radius: 4px;
    max-width: 25%;
    display: inline-block;
    word-break: break-all;
    color: #000; }
    .block-chat-user .text.translate input[type='checkbox'] {
      display: none; }
    .block-chat-user .text.translate label {
      cursor: pointer; }
  .block-chat-user .date {
    font-size: 11px;
    margin-left: 8px;
    vertical-align: baseline;
    display: block;
    color: #000; }
  .block-chat-user.owner {
    text-align: right; }
    .block-chat-user.owner .text {
      background: #6fcee5; }

.block-message {
  padding: 16px; }
  .block-message .inputText {
    min-height: 32px;
    margin: 0;
    font-size: 14px; }
    .block-message .inputText.min-width-360 {
      min-width: 360px; }

.block-rooms .room-name {
  display: block;
  padding: 8px; }

.block-rooms .badge {
  background: #eee;
  padding: 4px;
  border-radius: 16px;
  font-size: 10px;
  min-width: 25px;
  text-align: center;
  color: #f26f27; }

.show-message {
  height: calc(100% - 64px);
  overflow-y: auto; }

.fix-height-block-cms {
  height: calc(100% - 50px); }

.login-page {
  background: #F7F5F2; }
  .login-page .control .input {
    background: #EAE6E1;
    border: none;
    box-shadow: none;
    padding: 8px 16px;
    height: auto; }
  .login-page .button {
    padding: 8px;
    height: auto;
    width: 100%; }

@media (max-width: 768px) {
  .block-chat-user .text {
    max-width: 100%; }
  .block-message {
    padding: 0; }
    .block-message .inputText {
      width: 100%;
      margin-bottom: 4px; } }
