$bg-grey-primary: #eee;
$black-primary: #000;

$border-radius-xs: 4px;

$sky-dark-primary-color: #02adcc;
$sky-light-primary-color: #6fcee5;

$orange-dark-primary-color: #f26f27;
$orange-light-primary-color: #f5881f;

$bg-login-color: #F7F5F2;
$bg-input-login-color: #EAE6E1;

body, html{
  height: 100%;
}
body {
  margin: 0;
}

.msg {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  background-color: #efefef;
}

#post {
  padding: 0.5em 1em;
  background-color: #50b1ff;
  border: none;
  color: #FFF;
}
.fix-height-100{
  height: 100%;
}

.max-width-320{
  max-width: 320px;
}

/// Position
.text-center{
  text-align: center;
}

.margin-top-8{
  margin-top: 8px;
}

.margin-bottom-16{
  margin-bottom: 16px;
}

.margin-top-50-per{
  margin-top: 50%;
}


/// Font size
.text-size-24{
  font-size: 24px;
}

/// Theme
.is-primary{
  &.button,
  &.hero{
    background-color: $sky-dark-primary-color;
  }

  &:hover, &:focus{
    &.button{
      background-color: $sky-light-primary-color;
    }
  }
}

a{
  color: $sky-dark-primary-color;
}

.text-error{
  color: $orange-dark-primary-color;
}

.error-message{
  color: $orange-dark-primary-color;

  .fa{
    margin-right: 8px;
    vertical-align: baseline;
  }
}

.block-chat-user {
  margin: 16px;

  .name{
    font-size: 14px;
    font-weight: bold;
    display: block;
  }
  .text {
    margin: 8px;
    margin-bottom: 4px;
    padding: 8px;
    background: $bg-grey-primary;
    border-radius: $border-radius-xs;
    max-width: 25%;
    display: inline-block;
    word-break: break-all;
    color: $black-primary;
  }

  .date{
    font-size: 11px;
    margin-left: 8px;
    vertical-align: baseline;
    display: block;
    color: $black-primary;
  }

  &.owner{
    text-align: right;
    .text{
      background: $sky-light-primary-color;
    }
  }
}

.block-message{
  padding: 16px;

  .inputText{
    min-height: 32px;
    margin: 0;
    font-size: 14px;

    &.min-width-360{
      min-width: 360px;
    }
  }
}

.block-rooms{
  .room-name{
    display: block;
    padding: 8px;
  }

  .badge{
    background: $bg-grey-primary;
    padding: 4px;
    border-radius: 16px;
    font-size: 10px;
    min-width: 25px;
    text-align: center;
    color: $orange-dark-primary-color;
  }
}

.show-message{
  height: calc(100% - 64px);
  overflow-y: auto;
}

.fix-height-block-cms{
  height: calc(100% - 50px);
}

.login-page{
  background: $bg-login-color;

  .control{
    .input{
      background: $bg-input-login-color;
      border: none;
      box-shadow: none;
      padding: 8px 16px;
      height: auto;
    }
  }

  .button{
    padding: 8px;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .block-chat-user{
    .text{
      max-width: 100%;
    }
  }

  .block-message {
    padding: 0;

    .inputText{
      width: 100%;
      margin-bottom: 4px;
    }
  }
}